<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LatestVersion.Name" value="LegalLead"/>
    <add key="LatestVersion.Source" value="LegalLead.PublicData.Search\bin\Debug"/>
    <add key="LatestVersion.Data" value="xml\data"/>
    <add key="LatestVersion.File" value="LegalLead.PublicData.Search.exe"/>
  </appSettings>
</configuration>