<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LatestVersion.Name" value="LegalLead" />
    <add key="LatestVersion.Source" value="LegalLead.PublicData.Search\bin\Debug" />
    <add key="LatestVersion.Data" value="xml\data" />
    <add key="LatestVersion.File" value="LegalLead.PublicData.Search.exe" />
    <add key="Allow.Map.Corrections" value="false" />
    <add key="ReadMe.Header.001" value="|= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =|" />
    <add key="ReadMe.Header.002" value="| LegalLead.PublicData.Search" />
    <add key="ReadMe.Header.003" value="| Version: {VersionNumber}" />
    <add key="ReadMe.Header.004" value="| Release Date: {ReleaseDate}" />
    <add key="ReadMe.Header.005" value="|= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =|" />
    <add key="ReadMe.Header.006" value="| IssueId   | Reported Date  | Corrected Date  | Comments                           |" />
    <add key="ReadMe.Header.007" value="|= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =|" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>