<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="form-startup" value="main" />
    <add key="form-context-id" value="9" />
    <add key="form-start-date" value="10/21/2024" />
    <add key="form-end-date" value="10/26/2024" />
    <add key="chrome.exe.location.0" value="C:\Program Files\Google\Chrome\Application.exe" />
    <add key="chrome.exe.location.1" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
	<add key="chrome.exe.location.2" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
  </appSettings>
</configuration>
