<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="allow.web.integration" value="false"/>
    <add key="Allow.ReadMe.Corrections" value="false"/>
    <add key="collin-criminal-case-parameter.json.overwrite" value="false"/>
    <add key="collin-probate-case-parameter.json.overwrite" value="false"/>
    <add key="collin-civil-and-family-case-parameter.json.overwrite" value="false"/>
    <add key="collin-justice-case-parameter.json.overwrite" value="false"/>
  </appSettings>
</configuration>
